@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto"),
  url("../fonts/roboto.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto Medium"), local("Roboto-Medium"),
  url("../fonts/robotomedium.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto Bold"), local("Roboto-Bold"),
  url("../fonts/robotobold.woff2") format("woff2");
}


body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: left;
  color: #ffffff;
}

.site-wrapper {
  min-width: 940px;

  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}


.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.index-slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;

  border-bottom-color: rgba(255, 188, 158, 0.2);
}

a.contrast {
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  border-bottom-color: rgba(50, 50, 50, 0.2);
}

a.contrast:hover,
a.contrast:focus,
a.contrast:active {
  color: #e84d37;

  border-bottom-color: rgba(232, 77, 55, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.button,
a.button {
  display: inline-block;
  padding: 8px 23px;
  padding-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #f26843;
  background-image: linear-gradient(#f26843, #e74a35);
  border: none;
  border-radius: 22px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}




.button:hover,
.button:focus {
  background-color: #f17b64;
  background-image: none;
  box-shadow: 0 2px 2px 0 #ac1000;
}




.button:active {
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: 0 2px 2px 0 #942718;
}

.button.button-big {
  padding: 7px 40px;
  padding-bottom: 11px;

  font-size: 32px;
  line-height: 44px;

  border-radius: 31px;
}

.main-header {
  padding: 0;
  padding-top: 10px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation .container:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header .container:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main-header-logo {
  width: 154px;
  height: 64px;

  border-bottom: none;
}

ul {
  list-style: none;
}

.site-navigation {
  width: 853px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  width: 256px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

/*.site-navigation,
.user-navigation,
.navigation-sub,
.slider,
.slide-controls,
.stock-list,
.catalog-list,
.features-list,
.footer-navigation ul,
.footer-social ul,
.breadcrumbs,
.filters ul,
.pagination-list {
  list-style: none;
}*/

.site-navigation a {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;

  background-color: #f7f6f3;
  border-bottom: none;
}

.site-navigation a:active {
  background-color: #ededed;
  border-bottom: none;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.navigation-sub,
.user-navigation-sub,
.modal-feedback {
  background-color: rgb(248, 247, 244);
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-form input[type="search"],
.login-form input[type="email"],
.login-form input[type="password"],
.newsletter-form input[type="email"],
.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.search-form input[type="search"]:hover,
.login-form input[type="email"]:hover,
.login-form input[type="password"]:hover,
.newsletter-form input[type="email"]:hover,
.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.search-form input[type="search"]:focus,
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus,
.newsletter-form input[type="email"]:focus,
.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
}

::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

::-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

:-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.navigation-sub a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;

  border-bottom: none;
}

.navigation-sub .navigation-sub-first {
  font-weight: 700;
}

.navigation-sub a:hover,
.navigation-sub a:hover,
.navigation-sub-hover {
  background-color: #fbded7;
}

.navigation-sub a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.site-navigation .navigation-current > a,
.navigation-sub .navigation-current a {
  color: #ffffff;

  background-color: #d07058;
  border-bottom: none;
}



.user-navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.user-navigation-sub .cart-form {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cart-form img {
  border-radius: 50%;
}

.cart-form .price-per-kg {
  color: rgba(50, 50, 50, 0.5);
}

.cart-form .price-total {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.working-info {
  font-weight: 700;
  text-align: right;
}

.working-info p {
  font-size: 14px;
  line-height: 16px;
}

.working-info span {
  font-size: 22px;
  line-height: 24px;
}



.stock-list,
.catalog-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}



.stock-item {
  width: 520px;
  padding: 20px;

  text-align: right;

  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 15px;
}

.stock-item:first-of-type {
  background-color: #9e0226;
  background-image: url("../img/banner-1.jpg");
}

.stock-item:nth-of-type(2) {
  background-color: #593015;
  background-image: url("../img/banner-2.jpg");
}

.stock-item h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: left;
}

.stock-item p {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.catalog-item {
  width: 267px;
}

.catalog-item h3 {
  font-weight: 500;
  text-align: center;
}

.catalog-item:hover,
.catalog-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-item-image img {
  border-radius: 50%;
}

.catalog-item-price {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
  font-size: 45px;
}

.features {
  color: #323232;

  background-color: #efe4ce;
  background-image: url("../img/bg-features.jpg");
  background-repeat: repeat;
}

.features b {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.index-news {
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/bg-news.jpg");
  background-repeat: no-repeat;
}

.index-news p {
  font-weight: 500;
}

.index-news a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.index-newsletter {
  background-color: #f8f7f4;
}

.index-newsletter p {
  color: #5a5a5a;
}

.map-info {
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
}

.map-info p {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.map-info span {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.modal-feedback {
  box-shadow: none;
}

.modal-feedback h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.breadcrumbs-current {
  border-bottom: none;
}

.filters fieldset {
  border: none;
}

.filters-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.filters-form legend,
.filters-form option {
  font-size: 14px;
  line-height: 16px;
}

.filters select,
.filters div,
.filters ul {
  background-color: #9db1a5;
  border-radius: 20px;
}

.filters select {
  font: inherit;
  color: #ffffff;

  border-color: #9db1a5;
}

.filters select:hover,
.filters select:focus {
  color: #323232;

  background-color: #ffffff;
}

.filters option {
  color: #323232;
}

.filters-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #9cb0a4;
  border: 2px solid #ffffff;
}

.filters-button:hover,
.filters-button:focus {
  color: #323232;

  background-color: #ffffff;
}

.filters-button:active {
  color: #323232;

  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  border-bottom: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item a:active,
.pagination-list .pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
  border-radius: 50%;
}


.pagination-list .disabled a {
  color: rgba(255, 255, 255, 0.2);

  background-color: transparent;
}
