@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
       url("../fonts/robotomedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("../fonts/robotobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.2);
}

a.contrast {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  border-bottom-color: rgba(50, 50, 50, 0.2);
}

a.contrast:hover,
a.contrast:focus,
a.contrast:active {
  color: #e84d37;
  border-bottom-color: rgba(232, 77, 55, 0.2);
}

/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

.button,
a.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
}

.button:hover,
.button:focus {
  background-color: #f17b64;
  background-image: none;
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.button:active {
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px #942718;
}

.button.button-big {
  font-size: 32px;
  line-height: 44px;
}

.main-header-logo {
  border-bottom: none;
}

.site-navigation,
.user-navigation,
.navigation-sub,
.slider,
.slide-controls,
.stock-list,
.catalog-list,
.features-list,
.footer-navigation ul,
.footer-social ul,
.breadcrumbs,
.filters ul,
.pagination-list {
  list-style: none;
}

.site-navigation a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;

  background-color: #f7f6f3;
  border-bottom: none;
}

.site-navigation a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
  border-bottom: none;
}

.navigation-sub,
.user-navigation-sub,
.modal-feedback {
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-form input[type="search"],
.login-form input[type="email"],
.login-form input[type="password"],
.newsletter-form input[type="email"],
.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.search-form input[type="search"]:hover,
.login-form input[type="email"]:hover,
.login-form input[type="password"]:hover,
.newsletter-form input[type="email"]:hover,
.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.search-form input[type="search"]:focus,
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus,
.newsletter-form input[type="email"]:focus,
.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
}

input::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

input::-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

input:-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

input:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

.navigation-sub a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  color: #333333;

  border-bottom: none;
}

.navigation-sub .navigation-sub-first {
  font-weight: 700;
}

.navigation-sub a:hover,
.navigation-sub a:hover,
.navigation-sub-hover {
  background-color: #fbded7;
}

.navigation-sub a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.site-navigation .navigation-current > a,
.navigation-sub .navigation-current a {
  color: #ffffff;

  background-color: #d07058;
  border-bottom: none;
}

.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.user-navigation-sub .cart-form {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cart-form img {
  border-radius: 50%;
}

.cart-form .price-per-kg {
  color: rgba(50, 50, 50, 0.5);
}

.cart-form .price-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.working-info {
  font-weight: 700;
}

.working-info p {
  font-size: 14px;
  line-height: 16px;
}

.working-info span {
  font-size: 22px;
  line-height: 24px;
}

.slider p {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.stock-list h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.stock-list p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.stock-item:first-of-type {
  background-color: #9e0226;
  background-image: url("../img/banner-1.jpg");
  background-repeat: no-repeat;
}

.stock-item:nth-of-type(2) {
  background-color: #593015;
  background-image: url("../img/banner-2.jpg");
  background-repeat: no-repeat;
}

.catalog-list .item {
  font-weight: 500;
  text-align: center;
}

.catalog-item:hover,
.catalog-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-item-image img {
  border-radius: 50%;
}

.catalog-item-price {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
  font-size: 45px;
}

.features {
  color: #323232;
  background-color: #efe4ce;
  background-image: url("../img/bg-features.jpg");
  background-repeat: repeat;
}

.features b {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.index-news {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/bg-news.jpg");
  background-repeat: no-repeat;
}

.index-news p {
  font-weight: 500;
}

.index-news a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.index-newsletter {
  background-color: #f8f7f4;
}

.index-newsletter p {
  color: #5a5a5a;
}

.map-info {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.98);
}

.map-info p {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.map-info span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal-feedback {
  box-shadow: none;
}

.modal-feedback h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.breadcrumbs-current {
  border-bottom: none;
}

.filters fieldset {
  border: none;
}

.filters-form {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.filters-form legend,
.filters-form option {
  font-size: 14px;
  line-height: 16px;
}

.filters select,
.filters div,
.filters ul {
  background-color: #9db1a5;
  border-radius: 20px;

}

.filters select {
  font: inherit;
  color: #ffffff;
  border-color: #9db1a5;
}

.filters select:hover,
.filters select:focus {
  color: #323232;
  background-color: #ffffff;
}

.filters option {
  color: #323232;
}

.filters-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #9cb0a4;
  border: 2px solid #ffffff;
}

.filters-button:hover,
.filters-button:focus {
  color: #323232;
  background-color: #ffffff;
}

.filters-button:active {
  color: #323232;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  border-bottom: none;

}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item a:active,
.pagination-list .pagination-item-current a {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}


.pagination-list .disabled a {
  color: rgba(255, 255, 255, 0.2);
  background-color: transparent;
}

